body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%,             rgba(9,118,121,1) 46%, rgba(52,255,0,1) 100%);
}
.container{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  width: 700px;
  padding: 20px 20px;
}
h2{
  text-align: center;
  font-family: Trebuchet MS;
  color: #ffff;
  font-weight: 700;
  font-size: 35px;
  padding: 0px;
  margin: 0 0 30px;
}
.box{
  display: flex;
  justify-content: space-between;
}
.box input{
  width: 89%;
  font-size: 25px;
}
.box button{
  width: 9%;
}
li{
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: flex-start;
}
li span{
  text-decoration-color: white;
  font-family: Trebuchet MS;
}
.case{
  display: flex;
  justify-content: center;
}
.case button{
  margin-left: 15px;
  line-height: 30px;
}
.case input{
  line-height: 30px;
  height: 30px;
  width: 30px;
}